# If you want to allow an IP Address
# Hi Paul , if you are reading this
# visit : iphtaccess.roadtoriches.co.uk
# username : admin
# password : Adu9go0mRvCKp1b

# -  hellsing357
# - -----  PMSL rolling (Paul)

# PREVENT VIEWING OF .HTACCESS
<Files .htaccess>
 order allow,deny
 deny from all
</Files>
